In [1]:
import pandas as pd

In [28]:
tb = pd.read_csv("TB_burden_countries_2024-03-25.csv")

In [41]:
len(tb.loc[tb.isna().any(axis=1)]["country"].unique())

72

In [46]:
tb[tb.isna().any(axis=1)]

,country,iso2,iso3,iso_numeric,g_whoregion,year,e_pop_num,e_inc_100k,e_inc_100k_lo,e_inc_100k_hi,...,cfr,cfr_lo,cfr_hi,cfr_pct,cfr_pct_lo,cfr_pct_hi,c_newinc_100k,c_cdr,c_cdr_lo,c_cdr_hi
69,American Samoa,AS,ASM,16,WPR,2000,58230,5.9,5.1,6.8,...,0.08,0.05,0.13,8.0,5.0,13.0,5.2,87.0,75.0,100.0
70,American Samoa,AS,ASM,16,WPR,2001,58324,5.9,5.1,6.8,...,0.08,0.05,0.12,8.0,5.0,12.0,5.1,87.0,75.0,100.0
71,American Samoa,AS,ASM,16,WPR,2002,58177,4.0,3.4,4.6,...,0.08,0.05,0.12,8.0,5.0,12.0,3.4,87.0,75.0,100.0
72,American Samoa,AS,ASM,16,WPR,2003,57941,6.0,5.1,6.9,...,0.08,0.05,0.12,8.0,5.0,12.0,5.2,87.0,75.0,100.0
73,American Samoa,AS,ASM,16,WPR,2004,57626,10.0,8.5,12.0,...,0.08,0.05,0.12,8.0,5.0,12.0,8.7,87.0,75.0,100.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4843,Wallis and Futuna,WF,WLF,876,WPR,2018,11816,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
4844,Wallis and Futuna,WF,WLF,876,WPR,2019,11714,9.8,8.4,11.0,...,0.09,0.05,0.13,9.0,5.0,13.0,8.5,87.0,75.0,100.0
4845,Wallis and Futuna,WF,WLF,876,WPR,2020,11655,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
4846,Wallis and Futuna,WF,WLF,876,WPR,2021,11627,1.9,1.6,2.1,...,0.08,0.05,0.12,8.0,5.0,12.0,NaN,NaN,NaN,NaN
4847,Wallis and Futuna,WF,WLF,876,WPR,2022,11572,1.9,1.6,2.2,...,0.08,0.05,0.12,8.0,5.0,12.0,NaN,NaN,NaN,NaN

In [20]:
len(tb["year"].unique())

23

In [22]:
tb.loc[tb["country"] == "Afghanistan"]

,country,iso2,iso3,iso_numeric,g_whoregion,year,e_pop_num,e_inc_100k,e_inc_100k_lo,e_inc_100k_hi,...,cfr,cfr_lo,cfr_hi,cfr_pct,cfr_pct_lo,cfr_pct_hi,c_newinc_100k,c_cdr,c_cdr_lo,c_cdr_hi
0,Afghanistan,AF,AFG,4,EMR,2000,19542982,190.0,122.0,271.0,...,0.37,0.17,0.61,37.0,17.0,61.0,36.0,19.0,13.0,30.0
1,Afghanistan,AF,AFG,4,EMR,2001,19688632,189.0,122.0,271.0,...,0.35,0.16,0.56,35.0,16.0,56.0,51.0,27.0,19.0,42.0
2,Afghanistan,AF,AFG,4,EMR,2002,21000256,189.0,122.0,270.0,...,0.31,0.15,0.51,31.0,15.0,51.0,66.0,35.0,24.0,54.0
3,Afghanistan,AF,AFG,4,EMR,2003,22645130,189.0,122.0,270.0,...,0.32,0.15,0.52,32.0,15.0,52.0,61.0,32.0,23.0,50.0
4,Afghanistan,AF,AFG,4,EMR,2004,23553551,189.0,122.0,270.0,...,0.28,0.13,0.46,28.0,13.0,46.0,78.0,41.0,29.0,64.0
5,Afghanistan,AF,AFG,4,EMR,2005,24411191,189.0,122.0,270.0,...,0.26,0.12,0.43,26.0,12.0,43.0,89.0,47.0,33.0,73.0
6,Afghanistan,AF,AFG,4,EMR,2006,25442944,189.0,122.0,270.0,...,0.24,0.11,0.39,24.0,11.0,39.0,100.0,53.0,37.0,82.0
7,Afghanistan,AF,AFG,4,EMR,2007,25903301,189.0,122.0,270.0,...,0.21,0.10,0.35,21.0,10.0,35.0,111.0,59.0,41.0,91.0
8,Afghanistan,AF,AFG,4,EMR,2008,26427199,189.0,122.0,271.0,...,0.22,0.11,0.37,22.0,11.0,37.0,107.0,57.0,40.0,88.0
9,Afghanistan,AF,AFG,4,EMR,2009,27385307,189.0,122.0,271.0,...,0.25,0.12,0.40,25.0,12.0,40.0,95.0,50.0,35.0,78.0
10,Afghanistan,AF,AFG,4,EMR,2010,28189672,189.0,122.0,271.0,...,0.24,0.11,0.39,24.0,11.0,39.0,99.0,53.0,37.0,81.0
11,Afghanistan,AF,AFG,4,EMR,2011,29249157,189.0,122.0,271.0,...,0.24,0.12,0.40,24.0,12.0,40.0,96.0,51.0,35.0,78.0
12,Afghanistan,AF,AFG,4,EMR,2012,30466479,189.0,122.0,270.0,...,0.25,0.12,0.40,25.0,12.0,40.0,94.0,50.0,35.0,77.0
13,Afghanistan,AF,AFG,4,EMR,2013,31541209,189.0,122.0,270.0,...,0.24,0.12,0.39,24.0,12.0,39.0,97.0,51.0,36.0,79.0
14,Afghanistan,AF,AFG,4,EMR,2014,32716210,189.0,122.0,270.0,...,0.24,0.12,0.39,24.0,12.0,39.0,97.0,51.0,36.0,79.0
15,Afghanistan,AF,AFG,4,EMR,2015,33753499,189.0,122.0,270.0,...,0.22,0.11,0.36,22.0,11.0,36.0,106.0,56.0,39.0,87.0
16,Afghanistan,AF,AFG,4,EMR,2016,34636207,189.0,122.0,270.0,...,0.19,0.09,0.31,19.0,9.0,31.0,121.0,64.0,45.0,99.0
17,Afghanistan,AF,AFG,4,EMR,2017,35643418,189.0,122.0,270.0,...,0.16,0.08,0.27,16.0,8.0,27.0,131.0,69.0,49.0,110.0
18,Afghanistan,AF,AFG,4,EMR,2018,36686784,189.0,122.0,270.0,...,0.16,0.08,0.26,16.0,8.0,26.0,132.0,70.0,49.0,110.0
19,Afghanistan,AF,AFG,4,EMR,2019,37769499,189.0,122.0,270.0,...,0.14,0.07,0.24,14.0,7.0,24.0,139.0,74.0,51.0,110.0
20,Afghanistan,AF,AFG,4,EMR,2020,38972230,183.0,118.0,260.0,...,0.15,0.08,0.24,15.0,8.0,24.0,118.0,64.0,45.0,100.0
21,Afghanistan,AF,AFG,4,EMR,2021,40099462,185.0,118.0,257.0,...,0.14,0.07,0.23,14.0,7.0,23.0,125.0,68.0,49.0,110.0
22,Afghanistan,AF,AFG,4,EMR,2022,41128771,185.0,117.0,255.0,...,0.14,0.07,0.22,14.0,7.0,22.0,126.0,68.0,49.0,110.0

In [13]:
cols = [col for col in tb.columns if "_num" in col]
cols = [col for col in cols if "_hi" not in col]
cols = [col for col in cols if "_lo" not in col]

cols

['iso_numeric',
 'e_pop_num',
 'e_inc_num',
 'e_inc_tbhiv_num',
 'e_mort_exc_tbhiv_num',
 'e_mort_tbhiv_num',
 'e_mort_num']

In [15]:
tb_agg = pd.read_csv("TB_burden_age_sex_2024-03-25.csv")
tb_agg

,country,iso2,iso3,iso_numeric,year,measure,unit,age_group,sex,risk_factor,best,lo,hi
0,Afghanistan,AF,AFG,4,2022,inc,num,0-14,a,all,15000,8300,22000
1,Afghanistan,AF,AFG,4,2022,inc,num,0-14,f,all,7400,2700,12000
2,Afghanistan,AF,AFG,4,2022,inc,num,0-14,m,all,7900,2800,13000
3,Afghanistan,AF,AFG,4,2022,inc,num,0-4,f,all,3400,0,8300
4,Afghanistan,AF,AFG,4,2022,inc,num,0-4,m,all,4000,0,9900
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7300,Zimbabwe,ZW,ZWE,716,2022,inc,num,65plus,m,all,1700,0,3800
7301,Zimbabwe,ZW,ZWE,716,2022,inc,num,all,a,all,33000,22000,45000
7302,Zimbabwe,ZW,ZWE,716,2022,inc,num,all,a,hiv,20000,11000,31000
7303,Zimbabwe,ZW,ZWE,716,2022,inc,num,all,f,all,14000,7400,21000
7304,Zimbabwe,ZW,ZWE,716,2022,inc,num,all,m,all,19000,10000,28000

In [48]:
len(tb_agg["country"].unique())

215

In [51]:
agg_cols = set(tb_agg["country"].unique())

col_set = set(tb["country"].unique())

agg_cols ^ col_set

{'Netherlands Antilles', 'Serbia & Montenegro'}

In [58]:
tb_agg.groupby(["country"])["age_group"].unique()[0]

/var/folders/st/m8tx8cq17pzccky_vq84z0yh0000gn/T/ipykernel_62132/1162959419.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  tb_agg.groupby(["country"])["age_group"].unique()[0]

array(['0-14', '0-4', '15-24', '15plus', '18plus', '25-34', '35-44',
       '45-54', '5-14', '55-64', '65plus', 'all'], dtype=object)

In [59]:
tb_agg["age_group"].unique()

array(['0-14', '0-4', '15-24', '15plus', '18plus', '25-34', '35-44',
       '45-54', '5-14', '55-64', '65plus', 'all'], dtype=object)

In [60]:
tb_agg["sex"].unique()

array(['a', 'f', 'm'], dtype=object)

In [72]:
tb.loc[(tb["country"] == "Afghanistan")].loc[0, :]

country                     Afghanistan
iso2                                 AF
iso3                                AFG
iso_numeric                           4
g_whoregion                         EMR
year                               2000
e_pop_num                      19542982
e_inc_100k                        190.0
e_inc_100k_lo                     122.0
e_inc_100k_hi                     271.0
e_inc_num                         37000
e_inc_num_lo                      24000
e_inc_num_hi                      53000
e_tbhiv_prct                       0.02
e_tbhiv_prct_lo                     0.0
e_tbhiv_prct_hi                    0.05
e_inc_tbhiv_100k                   0.03
e_inc_tbhiv_100k_lo                 0.0
e_inc_tbhiv_100k_hi                 0.1
e_inc_tbhiv_num                     6.0
e_inc_tbhiv_num_lo                  1.0
e_inc_tbhiv_num_hi                 19.0
e_mort_exc_tbhiv_100k              68.0
e_mort_exc_tbhiv_100k_lo           39.0
e_mort_exc_tbhiv_100k_hi          104.0
e_mort_exc_tbhiv_num            13000.0
e_mort_exc_tbhiv_num_lo          7600.0
e_mort_exc_tbhiv_num_hi         20000.0
e_mort_tbhiv_100k                  0.17
e_mort_tbhiv_100k_lo                0.1
e_mort_tbhiv_100k_hi               0.26
e_mort_tbhiv_num                   33.0
e_mort_tbhiv_num_lo                19.0
e_mort_tbhiv_num_hi                51.0
e_mort_100k                        68.0
e_mort_100k_lo                     39.0
e_mort_100k_hi                    104.0
e_mort_num                      13000.0
e_mort_num_lo                    7600.0
e_mort_num_hi                   20000.0
cfr                                0.37
cfr_lo                             0.17
cfr_hi                             0.61
cfr_pct                            37.0
cfr_pct_lo                         17.0
cfr_pct_hi                         61.0
c_newinc_100k                      36.0
c_cdr                              19.0
c_cdr_lo                           13.0
c_cdr_hi                           30.0
Name: 0, dtype: object